<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokerMini</title>
    <link rel="stylesheet" href="stylesGeneral.css">
    <link rel="stylesheet" href="pico.green.min.css">
    <link rel="stylesheet" href="flexboxgrid.min.css">
</head>
<body>
<div class="background">
    <main class="container">

        <% if (!game) { %>
            <form action="/new-game" method="post">
            <button type="submit">New game</button>
        </form>
        <% } else { %>

        <% if (!!handBot) { %>
            <div class="widget-hand-title">
                Bot
            </div>
                <div class="hands">
                    <% handBot.forEach(function(card) { %>
                        <div class="widget-card">
                            <div class='card-Back'>
                            </div>
                        </div>
                    <% }); %>
                </div>
        <% } %>

        <div class="player-bet-box" style="margin-bottom: 5px;">
            <% for (let i = 0; i < game.hand.bets.bot; i++) { %>
                <div class="one-bet">
                    <!-- Number of bot bets-->
                </div>
            <% } %>
        </div>

        <div class="bet-title-container">
            <div class="bet-title">
                Pot
            </div>
            
        </div>
        <div class="bet-box">
                <% for (let i = 0; i < game.hand.pot; i++) { %>
                    <div class="one-bet">
                        <!-- <%=game.hand.pot%>-->
                    </div>
                <% } %>
        </div>

        <div class="player-bet-box" style="margin-top: 5px;">
            <% for (let i = 0; i < game.hand.bets.human; i++) { %>
                <div class="one-bet">
                    <!-- Number of player bets-->
                </div>
            <% } %>
        </div>

        <% if (!!handHuman) { %>
            <div class="widget-hand-title">
                Joueur
            </div>
                <div class="hands">
                    <% handHuman.forEach(function(card) { %>
                        <div class="widget-card">
                            <div class='card-<%= card.rank %>-<%= card.suit %>'>
                            </div>
                        </div>
                    <% }); %>
                </div>
        <% } %>
        
        <% if (game.hand.currentPlayer === "human") { %>
            <div class="actions">

                <form action="/play" method="post">
                    <div class="button-container">
                        <button class="button-space" type="submit" name="action" value="check">Check</button>
                        <input class="button-space" type="number" name="amount" value="1">
                        <button id="bet" class="button-space" type="submit" name="action" value="bet">Bet</button>
                        <button id="call" class="button-space" type="submit" name="action" value="call" disabled>Call</button>
                        <button class="button-space" type="submit" name="action" value="raise" disabled>Raise</button>
                        <button class="button-space" type="submit" name="action" value="fold">Fold</button>
                    </div>
                </form>
            </div>

            <% if (game.lastAction === "raise") { %>
                <script>
                    const buttonBet = document.getElementById('bet');
                    buttonBet.disabled = true;
    
                    const buttonCall = document.getElementById('call');
                    buttonCall.disabled = false;
                </script>
            <% } %>

            <% if (game.lastAction === "startTurn2") { %>
                <script>
                    const buttonBet = document.getElementById('bet');
                    buttonBet.disabled = false;
    
                    const buttonCall = document.getElementById('call');
                    buttonCall.disabled = true;
                </script>
            <% } %>

        <% } else { %>


            <p>Waiting for bot...</p>
            <script>
                const id = setInterval(() => {
                    fetch("/game-status")
                    .then(res => res.json())
                    .then(game => {
                        if (game.hand.currentPlayer === "human") {
                            clearInterval(id)
                            location.reload()
                        }
                    })
                }, 500)
                </script>
        <% } %>
        
        <% } %>
        
    </main>
</div>
</body>
</html>