html{
 background-color: rgb(36, 36, 36);
 color: #fff;
}

.form-start{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


.bot-info-container{
    margin-left: 5px;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
    padding-right: 10px;
    float: left;
}

.bot-info{
    position: static;
    margin: 0 0 15px 0;
    background-color: #398712;
    border: 3px solid rgb(1, 0, 47);
    border-top: 5px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.partie-info{
    position: static;
    margin: 112px 0 15px 0;
    background-color: #398712;
    border: 3px solid rgb(1, 0, 47);
    border-top: 5px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.player-info{
    position: static;
    margin: 130px 0 15px 0;
    background-color: #398712;
    border: 3px solid rgb(1, 0, 47);
    border-top: 5px solid #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.player-info-title{
    font-size: 1.2em;
    background-color: #23510c;
    text-align: center;
}

.player-info-jetons{
    margin: 5px;
    font-size: 1.0em;
    text-align: center;
}

.game-container{
    width: 80%;
    margin-top: 10px;
    background-color: #193a08;
    border-radius: 25px;
    border: 5px solid #000;
    float: left;
}

.bot-container{
    border-top: 5px dashed #398712;
    border-bottom: 5px dashed #398712;
    margin:10px
}


.hands{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.widget-result-title{
    text-align: center;
}

.widget-card{
    margin: 8px;
    width: 150px;
    height: 200px;
}

.widget-hand-title{
    text-align: center;
    margin: 5px;
}

.bet-title-container{
    display: flex;
    justify-content: center;
}

.bet-title{
    background-color: #46a716;
    color: #fff;
    width:fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.bet-box{
    background-color: #46a716;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-radius: 10px;
    margin-right: 20%;
    margin-left: 20%;
}

.player-bet-box{
    background-color: #46a716;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-radius: 10px;
    margin-right: 35%;
    margin-left: 35%;
    min-height: 46px;
}

.one-bet{
    background-image: url(./cards/jeton.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;


    
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-space{
    margin: 10px;
}

.winner{
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
    max-width: 550px;
}

.jeton-show{
    width: 6%;
}

.jeton-info{
    width: 30%;
}


@media screen and
 (max-width:955px){

  .bot-info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:auto;
   }

  .bot-info{
    margin: 5px;
    width: 100px;
  }

  .partie-info{
    margin: 5px;
  }

  .player-info{
    margin: 5px;
    width: 100px;
  }

  .game-container{
    width: 90%;
    margin: 10px;
    margin-left: 5%;
  }

 }


.card-9-P{
    background-image: url(./cards/P_9.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-T-P{
    background-image: url(./cards/P_T.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-J-P{
    background-image: url(./cards/P_J.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-Q-P{
    background-image: url(./cards/P_Q.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-K-P{
    background-image: url(./cards/P_K.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-A-P{
    background-image: url(./cards/P_A.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-9-C{
    background-image: url(./cards/C_9.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-T-C{
    background-image: url(./cards/C_T.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-J-C{
    background-image: url(./cards/C_J.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-Q-C{
    background-image: url(./cards/C_Q.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-K-C{
    background-image: url(./cards/C_K.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-A-C{
    background-image: url(./cards/C_A.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}

.card-Back{
    background-image: url(./cards/Back.png);
    background-size: 150px 200px;
    width: 150px;
    height: 200px;
}